<div class="perfil-container">
    <div class="perfil-header">
      <div class="avatar-circle">{{ inicialUsuario }}</div>
      <div class="datos-usuario">
        <h2>{{ nombreCompleto }}</h2>
        <p><strong>Usuario:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ perfil.email }}</p>
        <p>
            <strong>País: </strong>{{ perfil.country }}
            <img *ngIf="perfil.banderaUrl" [src]="perfil.banderaUrl" alt="Bandera" width="24" height="16" style="margin-left: 6px; vertical-align: middle;" />
          </p>        <p><strong>Cuidad:</strong> {{ perfil.city}}</p>
        <p><strong>Dirección:</strong> {{ perfil.street }}</p>
        <p><strong>Código postal:</strong> {{ perfil.postalCode}}</p>
      </div>
    </div>
  
    <div class="dashboard-metricas">
      <div class="card-metrica">
        <h3>{{ cantidadBonos }}</h3>
        <span>Bonos Registrados</span>
      </div>
      <div class="card-metrica">
        <h3>{{ cantidadInversiones }}</h3>
        <span>Inversiones Realizadas</span>
      </div>
    </div>
  </div>
  