<div class="perfil-container">
  <h2 class="tit"> Mi perfil</h2>

  <div class="perfil-grid">
    <div class="perfil-izquierda">
      <div class="avatar-grande">{{ inicialUsuario }}</div>
      <div class="datos-usuario">
        <div class="datos-usuario">
          <div class="datos-usuario">
            <h2>{{ nombreCompleto }}</h2>

            <div class="datos-grid">
              <div class="dato-card">
                <strong>Usuario:</strong> {{ user.username }}
              </div>

              <div class="dato-card">
                <strong>Email:</strong> {{ perfil.email }}
              </div>

              <div class="dato-card">
                <strong>País:</strong> {{ perfil.country }}
                <img *ngIf="perfil.banderaUrl" [src]="perfil.banderaUrl" alt="Bandera" width="24" height="16" />
              </div>

              <div class="dato-card">
                <strong>Ciudad:</strong> {{ perfil.city }}
              </div>

              <div class="dato-card">
                <strong>Dirección:</strong> {{ perfil.street }}
              </div>

              <div class="dato-card">
                <strong>Código Postal:</strong> {{ perfil.postalCode }}
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="perfil-derecha">
      <div class="dashboard-metricas">
        <div class="card-metrica">
          <h3>{{ cantidadBonos }}</h3>
          <span>Bonos Registrados</span>
        </div>
        <div class="card-metrica">
          <h3>{{ cantidadInversiones }}</h3>
          <span>Inversiones Realizadas</span>
        </div>
      </div>

      <div class="grafico-container">
        <h4>Bonos creados por día</h4>
        <div class="grafico-wrapper">
          <canvas baseChart [data]="lineChartData" [options]="lineChartOptions" [type]="'line'">
          </canvas>
        </div>
      </div>
    </div>

  </div>
</div>