<div class="modal-overlay" (click)="cerrarModal()">
    <div class="modal-container" (click)="$event.stopPropagation()">
      <form (ngSubmit)="enviarReset()" class="form-reset">
        <img src="assets/logoSmart.png" alt="Logo" class="logo" />
        <h2>Recuperar contraseña</h2>
        <p>Ingrese su correo para recibir el enlace de recuperación</p>
        <input [(ngModel)]="email" name="email" type="email" placeholder="Correo electrónico" required />
        <button type="submit" class="btn-accion">Enviar</button>
        <button type="button" class="btn-cancelar" (click)="cerrarModal()">Cancelar</button>
      </form>
    </div>
  </div>
  