<div class="modal-overlay" (click)="cerrarModal()">
    <div class="modal-container" (click)="$event.stopPropagation()">
      <form (ngSubmit)="enviarReset()" class="form-reset">
        <img src="assets/logoSmart.png" alt="Logo" class="logo" />
        <h2>{{ 'RECUPERAR_PASS' | translate }}</h2> 
        <p>{{ 'INGRESE_CORREO_RECUPERACION' | translate }}</p>
        <input [(ngModel)]="email" name="email" type="email" [placeholder]="'CORREO' | translate" required />
        <button type="submit" class="btn-accion">{{ 'ENVIAR' | translate }}</button>
        <button type="button" class="btn-cancelar" (click)="cerrarModal()">{{ 'CANCELAR' | translate }}</button>
      </form>
    </div>
  </div>
  