<div class="modal-overlay" *ngIf="visible" (click)="cerrarModal()">
  <div class="modal-contenido" (click)="$event.stopPropagation()">
    <button class="cerrar-btn" (click)="cerrarModal()">✕</button>

    <h2 class="titulo-modal">Detalle de Pagos del Bono</h2>

    <div class="resumen-bono">
      <div class="columna-bono">
        <div class="fila-dato"><strong>Nombre:</strong> {{ bono.nombre }}</div>
        <div class="fila-dato"><strong>Cliente:</strong> {{ bono.nombreCliente }}</div>
        <div class="fila-dato"><strong>Plazo:</strong> {{ bono.plazoAnios }}</div>

      </div>
      <div class="columna-bono">
        <div class="fila-dato"><strong>Monto:</strong> {{ bono.tipoMoneda === 'PEN' ? 'S/' : '$' }} {{ bono.montoNominal
          }}</div>
        <div class="fila-dato"><strong>Frecuencia:</strong> {{ bono.frecuenciaPago }}</div>
        <div class="fila-dato">
          <strong>Tipo de Gracia:</strong>
          {{ bono.tipoGracia === 'sin-gracia' ? 'Sin gracia' : bono.tipoGracia }}
        </div>

        <div class="fila-dato" *ngIf="bono.periodoGracia && bono.tipoGracia !== 'sin_gracia'">
          <strong>Periodo de Gracia:</strong> {{ bono.periodoGracia }}
        </div>

      </div>
      <div class="columna-bono">
        <div class="fila-dato"><strong>Tipo Tasa Base:</strong> {{ bono.tipoTasaBase }}</div>
        <div class="fila-dato" *ngIf="bono.tipoTasa?.toLowerCase() !== 'efectiva'">
          <strong>Capitalización:</strong> {{ bono.capitalizacion }}
        </div>
        <div class="fila-dato"><strong>Total Cuotas:</strong> {{ bono.pagos?.length }}</div>
      </div>
    </div>

    <div class="resumen-indicadores">
      <h3>Resumen Financiero</h3>
      <div class="indicadores-grid">
        <div class="pill-indicador"><strong>TCEA:</strong> {{ indicadores?.tcea | number: '1.2-2' }}</div>
        <div class="pill-indicador"><strong>TREA:</strong> {{ indicadores?.trea | number: '1.2-2' }}</div>
        <div class="pill-indicador"><strong>Duración:</strong> {{ indicadores?.duracion | number: '1.2-2' }}</div>
        <div class="pill-indicador"><strong>Dur. Modif.:</strong> {{ indicadores?.duracionModificada | number: '1.2-2'
          }}</div>
        <div class="pill-indicador"><strong>Convexidad:</strong> {{ indicadores?.convexidad | number: '1.2-2' }}</div>
      </div>
    </div>

    <div class="tabla-scroll">
      <table>
        <thead>
          <tr>
            <th>N°</th>
            <th>Fecha</th>
            <th>Cuota</th>
            <th>Interés</th>
            <th>Amortización</th>
            <th>Saldo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pago of bono.pagos">
            <td>{{ pago.numeroCuota }}</td>
            <td>{{ pago.fechaPago }}</td>
            <td>S/ {{ pago.cuota | number:'1.2-2' }}</td>
            <td>S/ {{ pago.interes | number:'1.2-2' }}</td>
            <td>S/ {{ pago.amortizacion | number:'1.2-2' }}</td>
            <td>S/ {{ pago.saldo | number:'1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>