.mis-inversiones-container {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 100%;
  margin: auto;
  box-sizing: border-box;
  overflow-y: auto;
  animation: fadeSlideIn 0.4s ease-out both;

}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.tit {
  font-size: 26px;
  font-weight: bold;
  color: #1E4569;
  padding-left: 20px;
}


.bono-carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1.5rem;

  .nav-btn {
    flex-shrink: 0;
  }

  .bono-card-wrapper {
    flex: 1;
    max-width: 400px;
  }
}

.carrusel-bonos {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .bono-card-animada {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 28px;
    overflow: hidden;
    border: 2px solid #d0dbe5;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

    .bono-card-header {
      background: linear-gradient(135deg, #4c91f1, #65d0fc);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3rem 1rem;
      position: relative;
      color: white;
      height: 220px;

      .icono-bono {
        background-color: #1d436b;
        border-radius: 50%;
        width: 130px;
        height: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffc918;
        font-size: 110px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
      }
    }


    .bono-card-body {
      padding: 1.5rem;
      color: #333;

      .cliente {
        font-size: 16px;
        margin-bottom: 1rem;
        font-weight: bold;
      }

      .detalle-fila {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        margin-bottom: 0.8rem;

        p {
          flex: 1;
          margin: 0;
          font-size: 14.5px;

          strong {
            color: #1d436b;
            font-weight: 600;
          }
        }
      }

      >p:last-child {
        margin-top: 1rem;
      }
    }


    .bono-card-footer {
      padding: 1rem;
      background: #f8f9fb;
      text-align: center;
      font-size: 13px;
      color: #666;
      border-top: 1px solid #e0e0e0;
      height: 50px;
    }

    &.slide-derecha {
      animation-name: slideInRight;
    }

    &.slide-izquierda {
      animation-name: slideInLeft;
    }
  }

  .nav-btn {
    background-color: #1d436b;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, transform 0.2s ease;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover:not(:disabled) {
      background-color: #14314a;
      transform: scale(1.05);
    }

    &:disabled {
      background-color: #cbd3db;
      color: #ffffff;
      cursor: not-allowed;
      box-shadow: none;
    }
  }




  @keyframes slideInRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.calendario-section {
  flex: 0 0 60%;
  border-radius: 16px;
  max-width: 800px;
  margin: auto;

  .calendario-encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1db9e2;
    padding: 1rem 1.5rem;
    border-radius: 16px;
    margin-bottom: 12px;
    box-shadow: 0 4px 12px rgba(44, 44, 44, 0.1);

    .controles {
      display: flex;
      align-items: center;
      gap: 0.75rem;

      button {
        background: none;
        color: #ffffff;
        border: none;
        font-size: 22px;
        cursor: pointer;
        padding: 0;
        font-weight: bold;
        transition: transform 0.2s;

        &:hover {
          transform: scale(1.2);
        }
      }

      .anio {
        font-size: 20px;
        font-weight: 600;
        color: #ffffff;
      }
    }

    .mes {
      font-size: 30px;
      font-weight: bold;
      color: #ffffff;
    }
  }

  .calendario {
    border-radius: 16px;
    box-shadow: 6px 0px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;


    .cal-header,
    .cal-body {
      display: grid;
      grid-template-columns: repeat(7, 1fr);

    }

    .dia-semana {
      padding: 0.75rem;
      text-align: center;
      background: #d0eaff;
      font-weight: bold;
      font-size: 15px;
      border-bottom: 1px solid #ccc;
    }

    .dia {
      height: 70px;
      text-align: center;
      padding: 0.5rem;
      border: 1px solid #eee;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.3s ease;

      &.activo {
        background-color: #c9f5d8;
        font-weight: 700;
        color: #2e7d32;
        border: 2px solid #4caf50;
        border-radius: 10px;
      }
    }
  }
}

.carrusel-pagos {
  margin-bottom: 15px;
  margin-left: 5rem;

  .subtit {
    font-size: 22px;
    font-weight: bold;
    color: #1d436b;
    margin-bottom: 8px;
    padding-left: 55px;
  }

  .pago-carousel {
    display: flex;
    align-items: center;
    gap: 1rem;

    .nav-btn {
      background-color: #1d436b;
      color: white;
      border: none;
      border-radius: 50%;
      font-size: 20px;
      width: 38px;
      height: 38px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.2s;

      &:hover:not(:disabled) {
        background-color: #14314a;
        transform: scale(1.05);
      }

      &:disabled {
        background-color: #cbd3db;
        cursor: not-allowed;
      }
    }

    .pago-card-wrapper {
      flex: 1;
      max-width: 480px;
      min-width: 320px;
      height: 140px;

    }

    .pago-card-horizontal {
      display: flex;
      background: linear-gradient(to bottom right, #4c91f1, #1d436b);
      color: white;
      border-radius: 16px;
      padding: 1.2rem;
      box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
      transition: transform 0.3s;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      min-height: 140px;

      .pago-icono {
        background-color: #14314a;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 36px;
        color: #ffc918;
        margin-right: 1.2rem;
        flex-shrink: 0;
        position: relative;
        flex-direction: column;

        i {
          margin-bottom: 0.2rem;
        }

        .pago-nombre-bono {
          position: absolute;
          bottom: -30px;
          left: 50%;
          transform: translateX(-50%);
          background: #1d436b;
          color: white;
          font-size: 12px;
          padding: 2px 8px;
          border-radius: 10px;
          white-space: nowrap;
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
          font-weight: 500;
        }
      }


      .pago-detalles {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 14px;

        p {
          margin: 0.2rem 0;

          strong {
            color: #fff3cd;
          }
        }
      }

      &.slide-derecha {
        animation-name: slideInRight;
      }

      &.slide-izquierda {
        animation-name: slideInLeft;
      }
    }

    @keyframes slideInRight {
      from {
        transform: translateX(80px);
        opacity: 0;
      }

      to {
        transform: translateX(0);
        opacity: 1;
      }
    }

    @keyframes slideInLeft {
      from {
        transform: translateX(-80px);
        opacity: 0;
      }

      to {
        transform: translateX(0);
        opacity: 1;
      }
    }

  }
}


.pago-detalles-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.6rem 1rem;
  font-size: 14px;
  flex: 1;

  .detalle-item {
    display: flex;
    flex-direction: column;

    strong {
      font-weight: 600;
      color: #fff3cd;
      font-size: 13px;
    }

    span {
      color: white;
    }
  }
}

@media (max-width: 1750px),
(max-height: 880px) {

  .tit {
    font-size: 22px;
    font-weight: bold;
    color: #1E4569;
    padding-left: 20px;
  }




}