<div class="bono-container">
  <div class="form-panel">
    <h2 class="tit"> Registro de Bono</h2>
    <form #bonoForm="ngForm">
      <div class="glass-form-wrapper">

        <div class="card glass">
          <h4>Datos Generales</h4>
          <div class="form-group">
            <label>Nombre del bono</label>
            <input type="text" [(ngModel)]="bono.nombre" name="nombre" required />
          </div>
          <div class="form-group">
            <label>Monto nominal</label>
            <input type="text" [(ngModel)]="bono.montoNominal" name="montoNominal" required />
          </div>
          <div class="form-group">
            <label>Plazo (años)</label>
            <input type="text" [(ngModel)]="bono.plazoAnios" name="plazoAnios" required />
          </div>
        </div>

        <div class="card glass">
          <h4>Datos Financieros</h4>
          <div class="form-group">
            <label>Tipo de tasa base</label>
            <select [(ngModel)]="bono.tipoTasaBase" name="tipoTasaBase" (change)="onTipoTasaBaseSeleccion()" required>
              <option value="TEA">TEA</option>
              <option value="TES">TES</option>
              <option value="TEM">TEM</option>
              <option value="TNA">TNA</option>
              <option value="TNS">TNS</option>
              <option value="TNM">TNM</option>
            </select>
          </div>

          <div class="form-group">
            <label>Tipo de tasa</label>
            <select [(ngModel)]="bono.tipoTasa" name="tipoTasa" [disabled]="bloquearTipoTasa" required>
              <option value="efectiva">Efectiva</option>
              <option value="nominal">Nominal</option>
            </select>
          </div>

          <div class="form-group" *ngIf="bono.tipoTasa === 'nominal'">
            <label>Capitalización</label>
            <select [(ngModel)]="bono.capitalizacion" name="capitalizacion" required>
              <option value="anual">Anual</option>
              <option value="semestral">Semestral</option>
              <option value="trimestral">Trimestral</option>
              <option value="mensual">Mensual</option>
            </select>
          </div>


        </div>

        <div class="card glass">
          <h4>Condiciones de Pago</h4>

          <div class="form-group">
            <label>Frecuencia de pago</label>
            <select [(ngModel)]="bono.frecuenciaPago" name="frecuenciaPago" required>
              <option value="anual">Anual</option>
              <option value="semestral">Semestral</option>
              <option value="trimestral">Trimestral</option>
            </select>
          </div>

          <div class="form-group">
            <label>Tasa base (%)</label>
            <input type="text" [(ngModel)]="bono.tasaBase" name="tasaBase" required />
          </div>

          <div class="form-group">
            <label>Tipo de moneda</label>
            <select [(ngModel)]="bono.tipoMoneda" name="tipoMoneda" required>
              <option value="PEN">PEN (S/)</option>
              <option value="USD">USD ($)</option>
            </select>
          </div>
        </div>

        <div class="card glass">
          <h4>Gracia</h4>
          <div class="form-group">
            <label>Tipo de gracia</label>
            <select [(ngModel)]="bono.tipoGracia" name="tipoGracia" required>
              <option value="parcial">Parcial</option>
              <option value="total">Total</option>
              <option value="sin-gracia">Sin gracia</option>
            </select>
          </div>
          <div class="form-group" *ngIf="!esSinGracia()">
            <label>Periodo de gracia</label>
            <input type="text" [(ngModel)]="bono.periodoGracia" name="periodoGracia" required />
          </div>


        </div>

      </div>

      <div class="btn-container">
        <button type="submit" (click)="registrarBono()" class="btn-accion animado">
          Guardar
        </button>
        <button type="button" (click)="reiniciarFormulario()" class="btn-accion animado limpiar">
          Limpiar campos
        </button>
      </div>
    </form>
  </div>



  <div class="table-panel">
    <h3 class="mis-bonos">Mis Bonos</h3>

    <div class="barra-controles">
      <div class="filtro-orden">
        <input type="text" class="input-busqueda" placeholder="Buscar por nombre" [(ngModel)]="terminoBusqueda"
          (ngModelChange)="filtrarBonos()" />
          <button class="btn-orden" title="Orden ascendente" (click)="ordenarPorId('asc')">
            <i nz-icon nzType="vertical-align-top"></i>
          </button>
          <button class="btn-orden" title="Orden descendente" (click)="ordenarPorId('desc')">
            <i nz-icon nzType="vertical-align-bottom"></i>
          </button>          
      </div>

      <div class="export-buttons">
        <button class="btn-export excel" title="Exportar a Excel" (click)="exportarExcel()">
          <i nz-icon nzType="file-excel"></i>
        </button>
        <button class="btn-export pdf" title="Exportar a PDF" (click)="exportarPDF()">
          <i nz-icon nzType="file-pdf"></i>
        </button>
      </div>
    </div>



    <div class="card-derecha">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre del Bono</th>
            <th>Monto</th>
            <th style="width: 105px;">Plazo (años)</th>
            <th>Tipo Tasa</th>
            <th>Capitalización</th>
            <th style="width: 90px;">Tasa Base</th>
            <th style="width: 70px;">Gracia</th>
            <th>Estado</th>
            <th>Ver Pagos</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="listaBonosFiltrados.length === 0">
            <td colspan="10" style="text-align: center; padding: 16px;">
              No hay bonos registrados aún para este usuario.
            </td>
          </tr>

          <tr *ngFor="let bono of listaBonosPaginados; let i = index"
            [class.fila-nueva]="bono.id === bonoAgregadoId || bono.nombre === bonoAgregadoId">
            <td>{{ formatearCorrelativo(bono.id) }}</td>
            <td>{{ bono.nombre }}</td>
            <td>
              {{ bono.tipoMoneda === 'PEN' ? 'S/' : bono.tipoMoneda === 'USD' ? '$' : bono.tipoMoneda }}
              {{ bono.montoNominal }}
            </td>
            <td>{{ bono.plazoAnios }}</td>
            <td>{{ bono.tipoTasaBase }}</td>
            <td>{{ bono.tipoTasa === 'efectiva' ? 'No aplica' : bono.capitalizacion }}</td>
            <td>{{ bono.tasaBase }}%</td>
            <td>
              {{
              bono.tipoGracia?.toLowerCase() === 'sin-gracia' ? 'Sin gracia' :
              bono.tipoGracia?.toLowerCase() === 'parcial' ? 'Parcial' :
              bono.tipoGracia?.toLowerCase() === 'total' ? 'Total' : '-'
              }}
            </td>
            <td class="acciones-btns">
              <button class="btn-circular estado-btn" title="Inactivo">
                <i nz-icon nzType="user-delete" nzTheme="outline"></i>
              </button>
            </td>
            <td>
              <button class="btn-circular-eye" (click)="abrirModalPagos(bono)">
                <i nz-icon nzType="eye" nzTheme="outline"></i>
              </button>
            </td>
            <td class="acciones-btns">
              <button class="btn-circular edit-btn" title="Editar" (click)="abrirModal(bono)">
                <i nz-icon nzType="edit" nzTheme="outline"></i>
              </button>
              <button class="btn-circular delete-btn" title="Eliminar" (click)="eliminarBono(bono.id)">
                <i nz-icon nzType="delete" nzTheme="outline"></i>
              </button>
            </td>
          </tr>
        </tbody>

      </table>
    </div>

    <div class="paginacion-circulos">
      <button class="circulo-control" (click)="cambiarPagina(paginaActual - 1)"
        [disabled]="paginaActual === 1">‹</button>

      <ng-container *ngFor="let pagina of [].constructor(totalPaginas); let i = index">
        <button class="circulo" [ngClass]="{ activo: (i + 1) === paginaActual }" (click)="cambiarPagina(i + 1)">
          {{ i + 1 }}
        </button>
      </ng-container>

      <button class="circulo-control" (click)="cambiarPagina(paginaActual + 1)"
        [disabled]="paginaActual === totalPaginas">›</button>
    </div>
  </div>
</div>

<app-modal-pagos [visible]="modalPagosVisible" [bono]="bonoSeleccionado"
  (cerrar)="cerrarModalPagos()"></app-modal-pagos>


<app-actualizar-bono-modal *ngIf="modalVisible" [bono]="bonoSeleccionado" (cerrar)="cerrarModal()"
  (actualizar)="guardarCambiosBono($event)">
</app-actualizar-bono-modal>