<div *ngIf="isLoginPage(); else mainLayout">
  <router-outlet></router-outlet>
</div>
<ng-template #mainLayout>
  <nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null">
      <div class="sidebar-logo">
        <a target="_blank">
          <img src="assets/UPC_logo_transparente.png" alt="logo">
          <h1>SmartBonder</h1>
        </a>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li>
        </li>
        <li nz-submenu nzOpen nzTitle="Bonos" nzIcon="dollar">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/nuevo-bono">Nuevo Bono</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/lista-bonos">Lista de Bonos</a>
            </li>
          </ul>
        </li>

        <!--li nz-submenu nzOpen nzTitle="Cuenta" nzIcon="user">
          <ul>
            <li nz-menu-item>
              <a routerLink="/perfil">Mi perfil</a>
            </li>
            <li nz-menu-item>
              <a routerLink="/configuracion-cuenta">Configuración de cuenta</a>
            </li>
          </ul>
        </li>

        <li nz-submenu nzOpen nzTitle="Informacion del Sistema" nzIcon="exclamation-circle">
          <ul>
            <li nz-menu-item>
              <a routerLink="/info-sistema">Acerca De</a>
            </li>
          </ul>
        </li-->

      </ul>


    </nz-sider>
    <nz-layout>

      <nz-header>
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <nz-icon class="trigger; icon_fold" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" />
          </span>

          <div class="logo-centrado">
            <img src="assets/logoSmartBlanco.png" alt="logo" /> 
          </div>


          <div class="user-avatar">
            <div class="user-avatar-container" (click)="mostrarDropdown = !mostrarDropdown" #dropdownRef>
              <nz-avatar [nzText]="usuarioInicial"></nz-avatar>
              <span class="user-name">{{ usuarioNombre }}</span>

              <div class="dropdown-usuario" *ngIf="mostrarDropdown">

                <div class="usuario-info" (click)="toggleDropdown()">
                  <div class="nombre">Nombre: {{ nombreCompleto }}</div>
                  <div class="correo">Correo: {{ correoUsuario }}</div>
                </div>

                <div class="divider" (click)="toggleDropdown()"></div>

                <div class="dropdown-item" (click)="abrirPerfil()">
                  <span nz-icon nzType="user"></span>
                  <span class="label">Ver perfil</span>
                </div>

                <div class="dropdown-item" (click)="toggleDropdown()">
                  <span nz-icon nzType="setting"></span>
                  <span class="label">Configuración</span>
                </div>

                <div class="dropdown-item modo-oscuro" (click)="$event.stopPropagation()">
                  <span nz-icon nzType="moon"></span>
                  <span class="label">Modo oscuro</span>
                  <nz-switch [(ngModel)]="esOscuro" (ngModelChange)="toggleTheme($event)"></nz-switch>
                </div>

                <div class="divider" (click)="toggleDropdown()"></div>

                <div class="dropdown-item salir" (click)="logout(); toggleDropdown()">
                  <span nz-icon nzType="poweroff"></span>
                  <span class="label">Salir</span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</ng-template>