<div *ngIf="isLoginPage(); else mainLayout">
  <router-outlet></router-outlet>
</div>
<ng-template #mainLayout>
  <nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a target="_blank">
        <img src="assets/UPC_logo_transparente.png" alt="logo">
        <h1>SmartBonder</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Bonos" nzIcon="dollar">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Nuevo Bono</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/lista-bonos">Lista de Bonos</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Mantenimiento" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/configuracion">Configuración del Sistema</a>
          </li>
        </ul>
      </li>
      <li class="menu-logout" nz-menu-item (click)="logout()">
        <span style="font-size: 15px;" nz-icon nzType="poweroff"></span>
        <span style="font-size: 15px">Salir</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <nz-icon class="trigger" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" />
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
</ng-template >