<div class="modal-detalles" *ngIf="visible">
  <div class="modal-overlay"></div>

  <div class="modal-contenido">
    <div class="seccion-izquierda">
      <div class="card-bono">

        <div class="card-superior">
          <div class="icono-bono">
            <i nz-icon nzType="dollar-circle" nzTheme="outline"></i>
          </div>

          <div class="contenido-bono">
            <h3 class="titulo-bono">{{ bono.nombre }}</h3>
            <p class="detalle-bono">
              Monto: {{ bono.tipoMoneda === 'PEN' ? 'S/' : '$' }}{{ bono.montoNominal }}
            </p>
            <p class="detalle-bono">Cliente: {{ bono.nombreCliente }}</p>
            <p class="detalle-bono">Plazo: {{ bono.plazoAnios }} años</p>
          </div>
        </div>

        <div class="card-inferior">
          <div class="iconos-interactivos">
            <div class="icono-circulo favorito" [class.activo]="estadoFavorito" [ngClass]="animFavorito" (click)="toggleFavorito()">
              <div class="relleno-animado"></div>
              <i nz-icon nzType="star" nzTheme="fill"></i>
            </div>
          
            <div class="icono-circulo me-gusta" [class.activo]="estadoMeGusta" [ngClass]="animMeGusta" (click)="toggleMeGusta()">
              <div class="relleno-animado"></div>
              <i nz-icon nzType="heart" nzTheme="fill"></i>
            </div>
          
            <div class="icono-circulo ver" [class.activo]="estadoVista" [ngClass]="animVista" (click)="toggleVista()">
              <div class="relleno-animado"></div>
              <i nz-icon nzType="eye" nzTheme="outline"></i>
            </div>
          </div>
          
        </div>


      </div>
    </div>



    <div class="seccion-derecha">
      <h2 class="modal-titulo">Detalles del Bono</h2>

      <div class="modal-datos">
        <div class="dato">
          <span class="etiqueta">Nombre:</span>
          <span class="valor">{{ bono.nombre }}</span>
        </div>
        <div class="dato">
          <span class="etiqueta">Monto nominal:</span>
          <span class="valor">{{ bono.tipoMoneda === 'PEN' ? 'S/' : '$' }}{{ bono.montoNominal }}</span>
        </div>
        <div class="dato">
          <span class="etiqueta">Cliente:</span>
          <span class="valor">{{ bono.nombreCliente }}</span>
        </div>
        <div class="dato">
          <span class="etiqueta">Tipo de tasa:</span>
          <span class="valor">{{ bono.tipoTasa }}</span>
        </div>
      </div>

      <div class="modal-botones">
        <button class="btn-secundario" (click)="cerrarModal()">Cerrar</button>
        <button class="btn-primario" (click)="abrirModalPagos()">Ver Pagos</button>
      </div>
    </div>
  </div>
</div>