<div class="modal-detalles" *ngIf="visibleInterno" [ngClass]="{ 'animado': visible }">
  <div class="modal-overlay"></div>

  <div class="modal-contenido">
    <div class="seccion-izquierda">
      <div class="card-bono">

        <div class="card-superior">
          <div class="icono-bono">
            <i nz-icon nzType="dollar-circle" nzTheme="outline"></i>
          </div>

          <div class="contenido-bono">
            <h3 class="titulo-bono">{{ bono.nombre }}</h3>
            <p class="detalle-bono">
              Monto: {{ bono.tipoMoneda === 'PEN' ? 'S/' : '$' }}{{ bono.montoNominal }}
            </p>
            <p class="detalle-bono">Cliente: {{ bono.nombreCliente }}</p>
            <p class="detalle-bono">Plazo: {{ bono.plazoAnios }} años</p>
          </div>
        </div>

        <div class="card-inferior">
          <div class="iconos-interactivos">
            <div class="icono-circulo favorito" [class.activo]="estadoFavorito" [ngClass]="animFavorito"
              (click)="toggleFavorito()">
              <div class="relleno-animado"></div>
              <i nz-icon nzType="star" nzTheme="fill"></i>
            </div>

            <div class="icono-circulo me-gusta" [class.activo]="estadoMeGusta" [ngClass]="animMeGusta"
              (click)="toggleMeGusta()">
              <div class="relleno-animado"></div>
              <i nz-icon nzType="heart" nzTheme="fill"></i>
            </div>

            <div class="icono-circulo ver" [class.activo]="estadoVista" [ngClass]="animVista" (click)="toggleVista()">
              <div class="relleno-animado"></div>
              <i nz-icon nzType="eye" nzTheme="outline"></i>
            </div>
          </div>

        </div>


      </div>
    </div>



    <div class="seccion-derecha">
      <i nz-icon nzType="rise" nzTheme="outline" class="icono-fondo"></i>


      <div class="cabecera-titulo">
        <h2 class="modal-titulo">Detalles del Bono</h2>
        <i nz-icon nzType="close" nzTheme="outline" class="icono-cerrar" (click)="cerrarModal()"></i>

      </div>

      <div class="modal-datos">
        <div class="dato"><span class="etiqueta">Tipo de tasa base:</span><span class="valor">{{ bono.tipoTasaBase
            }}</span></div>
        <div class="dato" *ngIf="!esTasaExcluida()">
          <span class="etiqueta">Capitalización:</span>
          <span class="valor">{{ getCapitalizacion() }}</span>
        </div>

        <div class="dato"><span class="etiqueta">Frecuencia de pago:</span><span class="valor">{{ bono.frecuenciaPago
            }}</span></div>
        <div class="dato">
          <span class="etiqueta">Tipo de gracia:</span>
          <span class="valor">
            {{ bono.tipoGracia === 'sin-gracia' ? 'Sin gracia' : bono.tipoGracia }}
          </span>
        </div>
        <div class="dato" *ngIf="bono.periodoGracia != null && bono.periodoGracia !== ''">
          <span class="etiqueta">Periodo de gracia:</span>
          <span class="valor">{{ bono.periodoGracia }}</span>
        </div>
        <div class="dato"><span class="etiqueta">Tasa base:</span><span class="valor">{{ bono.tasaBase }}%</span></div>

        <div class="dato"><span class="etiqueta">Plazo:</span><span class="valor">{{ bono.plazoAnios }} años</span>
        </div>
      </div>


      <div class="seccion-indicadores" *ngIf="indicadores">
        <h3 class="subtitulo">Indicadores</h3>
        <div class="indicador-input">
          <label style="padding-left: 5px;" for="precioCompra">Precio de Compra: <label style="color: red;"> (Ingrese
              precio de compra para ver la TREA)</label> </label>
          <input id="precioCompra" type="number" [(ngModel)]="precioCompra" (blur)="validarYEnviarPrecioCompra()" />
          <div class="tooltip-error" *ngIf="errorPrecioCompra">
            El precio debe estar entre {{ (bono.montoNominal * 0.95) | number:'1.0-0' }} y {{ (bono.montoNominal * 1.05)
            | number:'1.0-0' }}.
          </div>

        </div>

        <div class="grid-indicadores">

          <div class="indicador trea-wrapper">
            <span class="etiqueta">TREA:</span>
            <div class="trea-overlay" *ngIf="!bono.precioCompra || bono.precioCompra <= 0">

            </div>
            <span class="valor" *ngIf="bono.precioCompra && bono.precioCompra > 0">
              {{ indicadores?.trea | percent:'1.2-2' }}
            </span>
          </div>

          <div class="indicador"><span class="etiqueta">Duración:</span> <span class="valor">{{ indicadores.duracion |
              number:'1.2-2' }}</span></div>
          <div class="indicador"><span class="etiqueta">Duración Mod.:</span> <span class="valor">{{
              indicadores.duracionModificada | number:'1.2-2' }}</span></div>
          <div class="indicador"><span class="etiqueta">Convexidad:</span> <span class="valor">{{ indicadores.convexidad
              | number:'1.2-2' }}</span></div>
        </div>
      </div>

      <div class="modal-botones">
        <button class="btn-accion btn-ver" (click)="abrirModalPagos()">
          <span class="icono">
            <i nz-icon nzType="eye" nzTheme="outline"></i>
          </span>
          <span class="texto">Ver Pagos</span>
        </button>

        <button class="btn-invertir" (mousedown)="iniciarProgreso()" (mouseup)="cancelarProgreso()"
          (mouseleave)="cancelarProgreso()">
          <div class="progreso" [style.width.%]="progresoPorcentaje"></div>

          <span class="icono">
            <i nz-icon nzType="dollar" nzTheme="outline"></i>
          </span>
          <span class="texto">Invertir</span>
        </button>

      </div>

    </div>

  </div>
</div>