<div class="main-wrapper">

  <div class="background-wrapper-left" [ngClass]="{
    'slide-in-left': !isActive && !movIzq,
    'slide-out-left': isActive && !movIzq,
    'hidden2': movIzq
  }">
    <img src="assets/chica1.png" class="background-image-2" />

    <div class="bubble-login-error" *ngIf="mostrarErrorLogin">
      Usuario o contraseña es incorrecto
    </div>
    <div *ngIf="mostrarBienvenida" class="bubble-bienvenida" [innerHTML]="mensajeBienvenida">
    </div>
  </div>

  <div class="background-wrapper" [ngClass]="{
    'slide-in-right': isActive && !movDer,
    'slide-out-right': !isActive && !movDer,
    'hidden2': movDer
  }">
    <img src="assets/img-chico.png" class="background-image" />
  </div>

  <div class="container" id="container" [class.active]="isActive" [class.animate-in]="animarEntrada">
    <div class="form-container sign-up ">
      <form (ngSubmit)="register()">
        <img src="assets/logoazuloscuro.png" alt="Login Icon" class="register-image" />
        <h1 class="titu">{{ 'CREA_CUENTA' | translate }}</h1>


        <div class="input-group-wrapper">
          <input name="registerUsername" placeholder="Nombres" required />

          <!--<i *ngIf="usernameValido === false" nz-icon nzType="exclamation" class="icon-error error-icon"></i>
          <i *ngIf="usernameValido === true" nz-icon nzType="check" class="icon-success success-icon"></i>-->


        </div>
        <div class="input-group-wrapper">
          <input name="registerUsername" placeholder="Apellidos" required />

          <!--<i *ngIf="usernameValido === false" nz-icon nzType="exclamation" class="icon-error error-icon"></i>
          <i *ngIf="usernameValido === true" nz-icon nzType="check" class="icon-success success-icon"></i>-->

        </div>

        <div class="input-group-wrapper">
          <input [(ngModel)]="registerUsername" name="registerUsername" [placeholder]="'USUARIO' | translate" required
            (input)="validarUsername()" />

          <i *ngIf="usernameValido === false" nz-icon nzType="exclamation" class="icon-error error-icon"></i>
          <i *ngIf="usernameValido === true" nz-icon nzType="check" class="icon-success success-icon"></i>
        </div>

        <div class="input-group-wrapper">
          <input name="registerUsername" placeholder="Correo Electrónico" required />

          <!--<i *ngIf="usernameValido === false" nz-icon nzType="exclamation" class="icon-error error-icon"></i>
          <i *ngIf="usernameValido === true" nz-icon nzType="check" class="icon-success success-icon"></i>-->

        </div>



        <div class="input-group-wrapper">
          <input [(ngModel)]="registerPassword" name="registerPassword" type="password"
            [placeholder]="'CONTRASENA' | translate" required (input)="validarPassword()" />
          <i *ngIf="passwordValido === false" nz-icon nzType="exclamation" class="icon-error error-icon"></i>
          <i *ngIf="passwordValido === true" nz-icon nzType="check" class="icon-success success-icon"></i>
        </div>


        <div class="rol-toggle-selector">
          <div class="rol-toggle" [class.active]="selectedRole === 'ROLE_USER'" (click)="seleccionarRol('ROLE_USER')">
            <i nz-icon nzType="user" class="rol-icon"></i>
            <span class="rol-label" *ngIf="selectedRole === 'ROLE_USER'">{{ 'Usuario' }}</span>
          </div>

          <div class="rol-toggle" [class.active]="selectedRole === 'ROLE_ADMIN'" (click)="seleccionarRol('ROLE_ADMIN')">
            <i nz-icon nzType="tool" class="rol-icon"></i>
            <span class="rol-label" *ngIf="selectedRole === 'ROLE_ADMIN'">{{ 'Administrador' }}</span>
          </div>
        </div>

        <button class="btn-accion btn-registro">{{ 'REGISTRATE' | translate }}</button>

      </form>
    </div>

    <span *ngIf="usernameValido === false" class="floating-error-bubble-user">
      {{ usernameErrorMensaje }}
    </span>

    <div *ngIf="passwordValido === false" class="floating-error-bubble-pass">
      <ul>
        <li *ngFor="let msg of passwordErrorMensajes">{{ msg }}</li>
      </ul>
    </div>

    <div class="form-container sign-in">
      <form (ngSubmit)="login()">
        <img src="assets/logoazuloscuro.png" alt="Login Ico  n" class="login-image" />
        <h1 class="titu-ini">{{ 'TITULO_INICIO' | translate }}</h1>
        <input [(ngModel)]="username" [placeholder]="'NOMBRE_USUARIO' | translate" name="username" required />
        <input [(ngModel)]="password" type="password" [placeholder]="'CONTRASENA' | translate" name="password"
          required />
        <div class="remember-container">
          <label class="custom-checkbox">
            <input type="checkbox" name="recordarme" [(ngModel)]="recordarme" (change)="onRecordarmeChange()" />
            <span class="checkmark"></span>
            <span class="txt-check">{{ 'RECORDAR' | translate }}</span>
          </label>
        </div>

        <a (click)="showModalPassword = true">{{ 'OLVIDASTE' | translate }}</a>
        <button (click)="login()" class="btn-accion" type="submit">{{ 'INICIAR' | translate }}</button>
      </form>
    </div>



    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-left">
          <h1 class="titu-2">{{ 'BIENVENIDO_DE_VUELTA' | translate }}</h1>
          <p>{{ 'INTRODUCIR DATOS' | translate }}</p>
          <button (click)="transicionLogin()" class="btn-accion hidden" id="login">{{ 'INICIE_SESION' | translate
            }}</button>
        </div>
        <div class="toggle-panel toggle-right">
          <h1 class="titu-2">{{ 'BIENVENIDO' | translate }}</h1>
          <p>{{ 'REGiSTRESE_DATOS' | translate }}</p>
          <button (click)="transicionRegister()" class="btn-accion hidden" id="register">{{ 'REGISTRATE' | translate
            }}</button>
        </div>
      </div>
    </div>
  </div>


  <div class="login-footer poppins-regular">
    <span class="copyright">
      <i nz-icon nzType="copyright-circle"></i> 2025 - SmartBonder - {{ 'DERECHOS' | translate }} - Grupo 3 - v 1.0
    </span>
  </div>

  <div class="menu-idiomas">

    <div class="idioma-boton principal" [ngClass]="{ 'bandera-qc': idiomaActual === 'QC' }" (click)="toggleIdiomas()">
      {{ idiomaActual }}
    </div>

    <div class="idioma-boton opcion" *ngIf="mostrarEN && idiomaActual !== 'EN'" (click)="cambiarIdioma('EN')">
      EN
    </div>

    <div class="idioma-boton opcion" *ngIf="mostrarPT && idiomaActual !== 'PT'" (click)="cambiarIdioma('PT')">
      PT
    </div>

    <div class="idioma-boton opcion" *ngIf="mostrarES && idiomaActual !== 'ES'" (click)="cambiarIdioma('ES')">
      ES
    </div>

    <div class="idioma-boton  idioma-qc" *ngIf="mostrarQC && idiomaActual !== 'QC'" (click)="cambiarIdioma('QC')">
      QC
    </div>
  </div>

</div>

<div class="mensaje-qc" *ngIf="mostrarMensajeQC" [ngClass]="{ 'fade-out': mensajeDesapareciendo }">
  Mana jolljepajchu jaripa chaninninja.
</div>

<div *ngIf="mostrandoPreloader" class="preloader-overlay">
  <div class="spinner-container">
    <div class="spinner">
      <img src="assets/logoSolo.png" alt="Logo Smart" class="spinner-logo" />
    </div>
    <p class="preloader-text">Espere un momento<br />por favor</p>
  </div>
</div>


<app-modal-recuperar-password *ngIf="showModalPassword" (cerrar)="showModalPassword = false">
</app-modal-recuperar-password>