<div class="main-wrapper">
  <div class="container" [class.active]="isActive" id="container">
    <div class="form-container sign-up">
      <form>
        <img src="assets/logoSmart.png" alt="Login Icon" class="login-image" />
        <h1 class="titu">Cree una nueva cuenta</h1>
        <span class="sub-tit">o utilice su correo electrónico para registrarte</span>
        <input placeholder="Nombre">
        <input placeholder="Correo">
        <input placeholder="Contraseña">
        <button class="btn-accion btn-registro">Registrate</button>
      </form>
    </div>

    <div class="form-container sign-in">
      <form (ngSubmit)="login()">
        <img src="assets/logoSmart.png" alt="Login Icon" class="login-image" />
        <h1 class="titu-ini">Iniciar Sesión</h1>
        <span>o use su correo</span>
        <input [(ngModel)]="email" name="email" placeholder="Correo">
        <input [(ngModel)]="contrasenia" name="contraseña" placeholder="Contraseña">
        <a href="#" (click)="showModalRecuperar = true">¿Olvidaste tu contraseña?</a>
        <button (click)="login()" class="btn-accion" type="submit">Iniciar Sesión</button>
      </form>
    </div>

    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-left">
          <h1 class="titu-2">Bienvenido de vuelta!</h1>
          <p>Introduzca sus datos personales para utilizar todas las funciones del sitio</p>
          <button (click)="transicionLogin()" class="btn-accion hidden" id="login">Inicie Sesión</button>
        </div>
        <div class="toggle-panel toggle-right">
          <h1 class="titu-2">Bienvenido!</h1>
          <p>Regístrese con sus datos personales para utilizar todas las funciones del sitio.</p>
          <button (click)="transicionRegister()" class="btn-accion hidden" id="register">Registrate</button>
        </div>
      </div>
    </div>
  </div>
 
  
  <div class="login-footer poppins-regular">
    <span class="copyright">
      <i nz-icon nzType="copyright-circle"></i> 2025 - SmartBonder - Todos los derechos reservados - Dmon
    </span>
    <span class="version">
      <i class="mdi mdi-information-outline"></i> v 1.0
    </span>
  </div>
</div>

<app-modal-recuperar-password
  *ngIf="showModalRecuperar"
  (cerrar)="showModalRecuperar = false">
</app-modal-recuperar-password>