<div class="bono-container pantalla-completa">
  <h2 class="tit">Bonos para Oportunidades de Inversión</h2>

  <div class="cont-filtros">
    <div class="zona-filtros">
      <input type="text" [(ngModel)]="filtroNombre" (input)="filtrarBonos()" placeholder="Buscar por nombre de bono"
        class="input-busqueda" />

      <button class="btn-filtro-avanzado" [class.activo]="filtrosActivos" (click)="toggleFiltrosAvanzados()">
        Filtros avanzados
      </button>
      <div class="conteo-bonos">
        <strong>Número de bonos disponibles:</strong>
        <span class="badge-cantidad">{{ bonos.length }}</span>
      </div>
      
    </div>
    <div *ngIf="filtrosActivos" class="contenedor-filtros-avanzados">
      <div class="filtro-chip" *ngFor="let campo of camposFiltroAvanzado" [class.activo]="campo.activo" (click)="activarCampo(campo, $event)">
        <span>{{ campo.nombre }}</span>
    
        <select *ngIf="campo.activo && campo.tipo === 'select'" [(ngModel)]="campo.valor" (click)="$event.stopPropagation()" class="input-chip-filtro">
          <option value="">-- Seleccionar --</option>
          <option *ngFor="let opcion of campo.opciones" [value]="opcion">{{ opcion }}</option>
        </select>
    
        <input *ngIf="campo.activo && campo.tipo === 'texto'" type="text" [(ngModel)]="campo.valor" (click)="$event.stopPropagation()" class="input-chip-filtro" placeholder="Escribe aquí" />
    
        <div *ngIf="campo.activo && campo.tipo === 'rango'" class="input-rango">
          <input type="number" [(ngModel)]="campo.min" (click)="$event.stopPropagation()" class="input-chip-filtro rango" placeholder="Mín" />
          <span class="guion">-</span>
          <input type="number" [(ngModel)]="campo.max" (click)="$event.stopPropagation()" class="input-chip-filtro rango" placeholder="Máx" />
        </div>
      </div>
    </div>
    

  </div>

  <div class="zona-scroll-cards">
    <div class="contenedor-cards">
      <div *ngFor="let bono of bonos" class="card-bono">
        <div class="icono-bono">
          <i nz-icon nzType="dollar-circle" nzTheme="outline"></i>
        </div>

        <div class="contenido-bono">
          <h3 class="titulo-bono">{{ bono.nombre }}</h3>
          <p class="detalle-bono">
            Monto: {{ bono.tipoMoneda === 'PEN' ? 'S/' : '$' }}{{ bono.montoNominal }}
          </p>
          <p class="detalle-bono">Cliente: {{ bono.nombreCliente }}</p>
          <p class="detalle-bono">Tipo de tasa base: {{ bono.tipoTasaBase }} </p>
          <p class="detalle-bono">Plazo: {{ bono.plazoAnios }} </p>
          <button class="boton-ver-mas" (click)="abrirModalDetalle(bono)">Ver detalles</button>
        </div>
        <i nz-icon nzType="rise" nzTheme="outline" class="icono-tendencia"></i>
      </div>
    </div>
  </div>
</div>


<app-modal-detalles-bono
  [bono]="bonoSeleccionado"
  [visible]="modalDetalleVisible"
  (cerrar)="cerrarModalDetalle()"
  (abrirPagos)="abrirModalPagos(bonoSeleccionado)"
  (bonoInvertido)="onBonoInvertido()">
</app-modal-detalles-bono>

<app-modal-pagos [bono]="bonoSeleccionado" [visible]="modalPagosVisible"
  (cerrar)="cerrarModalPagos()"></app-modal-pagos>