<div class="bono-container pantalla-completa">
  <h2 class="tit">Todos los Bonos Registrados</h2>
  <div class="tabla-panel">
    <div class="card-derecha">
      <table *ngIf="bonos.length > 0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Monto Nominal</th>
            <th>Plazo (años)</th>
            <th>Frecuencia</th>
            <th>Tipo Tasa</th>
            <th>Capitalización</th>
            <th>Tipo Moneda</th>
            <th>Periodo Gracia</th>
            <th>Tipo Gracia</th>
            <th>Tipo Tasa Base</th>
            <th>Tasa Base (%)</th>
            <th>Tasa Convertida</th>
            <th>Cliente</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bono of bonos; let i = index">
            <td>{{ bono.id }}</td>
            <td>{{ bono.nombre }}</td>
            <td>{{ bono.montoNominal | number:'1.0-0' }}</td>
            <td>{{ bono.plazoAnios }}</td>
            <td>{{ bono.frecuenciaPago }}</td>
            <td>{{ bono.tipoTasa }}</td>
            <td>{{ bono.capitalizacion || '-' }}</td>
            <td>{{ bono.tipoMoneda }}</td>
            <td>{{ bono.periodoGracia }}</td>
            <td>{{ bono.tipoGracia }}</td>
            <td>{{ bono.tipoTasaBase }}</td>
            <td>{{ bono.tasaBase }}</td>
            <td>{{ bono.tasaConvertida | number:'1.4-4' }}</td>
            <td>{{ bono.nombreCliente }}</td>
            <td>
              <button class="btn-circular-eye" >
                <i nz-icon nzType="eye" nzTheme="outline"></i>
              </button>
              <button class="btn-circular-edit">
                <i nz-icon nzType="edit" nzTheme="outline"></i>
              </button>
              <button class="btn-circular-delete" >
                <i nz-icon nzType="delete" nzTheme="outline"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <p *ngIf="bonos.length === 0">
        No hay bonos registrados actualmente.
      </p>
    </div>
  </div>
</div>
