<div class="bono-container pantalla-completa">
  <h2 class="tit">Todos los Bonos Registrados</h2>



  <div class="zona-filtros">
    <input type="text" [(ngModel)]="filtroNombre" (input)="filtrarBonos()" placeholder="Buscar por nombre de bono"
      class="input-busqueda" />

    <button class="btn-filtro-avanzado" [class.activo]="filtrosActivos" (click)="toggleFiltrosAvanzados()">
      Filtros avanzados
    </button>
  </div>
  <div *ngIf="filtrosActivos" class="contenedor-filtros-avanzados">
    <div class="filtro-chip" *ngFor="let campo of camposFiltroAvanzado">
      {{ campo }}
    </div>
  </div>

  <div class="zona-scroll-cards">
    <div class="contenedor-cards">
      <div *ngFor="let bono of bonos" class="card-bono">
        <div class="icono-bono">
          <i nz-icon nzType="dollar-circle" nzTheme="outline"></i>
        </div>

        <div class="contenido-bono">
          <h3 class="titulo-bono">{{ bono.nombre }}</h3>
          <p class="detalle-bono">
            Monto: {{ bono.tipoMoneda === 'PEN' ? 'S/' : '$' }}{{ bono.montoNominal }}
          </p>
          <p class="detalle-bono">Cliente: {{ bono.nombreCliente }}</p>
          <p class="detalle-bono">Plazo: {{ bono.plazoAnios }} </p>
          <button class="boton-ver-mas">Ver detalles</button>
        </div>
        <i nz-icon nzType="rise" nzTheme="outline" class="icono-tendencia"></i>
      </div>
    </div>
  </div>
</div>